body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-image: linear-gradient(90deg, rgb(255, 156, 118), rgb(236, 85, 58));
}
.nav{
    margin-left: 65px;
    margin-right: 65px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(114, 9, 9);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(98, 13, 13);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: rgb(194, 193, 193);
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}